<!DOCTYPE html>

<html>

<footer id=footer>

    <!-- 스크립트영역 -->
    <script src="/resources/js/common/jquery-3.3.1.min.js"></script>
    <script src="/resources/js/common/bootstrap.min.js"></script>
    <script src="/resources/js/web/common/common.js"></script>

	<div class="wrapper">
		<div class="foot_link">
			<ul>
				<li>
					<a href="#">footer</a>
				</li>
			</ul>
		</div>
		<div class="foot_info">
			<address>주소 : </address>
			<p>Copyright 2020 HEALTHHONG. All rights reserved.</p>
			<p>운영체제 지원</p>
		</div>
	</div>

</footer>